<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/code.css" rel="stylesheet">
    <link href="/assets/css/photoswipe.css" rel="stylesheet">
    <title>{{ title }}</title> 
  </head>
  <body>
      <div class="navigation">
      <div class="sitename">
      <a href="/{{ lang }}/">jcusnxj</a>
      </div>
      <!-- Hidden checkbox -->
      <input type="checkbox" id="menu-toggle" class="menu-toggle" /> 

      <!-- Hamburger icon, acting as a label for the checkbox -->
      <label for="menu-toggle" class="hamburger-menu">&#9776;</label> 
      
      <!-- The sidebar/menu content that will be shown or hidden -->
      <div class="menu-area">
      {% include "partials/_sidebar.njk" %}
      </div>
      {% include "partials/_language.njk" %}
      </div>
     
     <div class="container">
        <div class="sidebar">
          <div class="stickymenu">{% include "partials/_sidebar.njk" %}</div>
        </div>
        <div class="content">
          <main>
            <h1>{{ title }}</h1>
            <hr>
            {% block content %}
            {{ content | safe }} 
            {% endblock %}     
          </main>
        </div>
     </div>
          {% include "partials/_footer.njk" %}
    <script type="module" src="/assets/js/index.js"></script>
  </body>
</html>