*,     /* CSS Selector - Selects all elements */
*::before,  /* CSS Selector - Insert something after the content of each element */
*::after {  /* CSS Selector - Insert something before the content of each element */
  box-sizing: border-box; /* Defines how the width and height of an element are calculated. The width and height properties (and min/max properties) includes content, padding and border. */
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth; /* Specifies whether to smoothly animate the scroll position, instead of a straight jump, when the user clicks on a link within a scrollable box. */
  font-size: 62.5%; /* Sets the root font size to 10px = 1rem */
}

body {
  font-size: 1.7rem;
  line-height: 1.5;
  font-family: "Iowan Old Style", Garamond, Georgia, serif;
  background-color: #151322;
  color: whitesmoke;
}

/* Note on some units
vh - Relative to 1% of the height of the viewport = the browser window size.
vw - Relative to 1% of the width of the viewport = the browser window size.
*/

main {
  margin: 0 auto; /* Creates extra space around an element. Shorthand for margin-top/right/bottom/left. 4 top/right/botom/left, 3 - top/right/botom, 2 - vertical/horizontal 1 - all*/
  min-height: calc(100vh - 11rem); /* Sets the minimum height of an element. If the content is smaller than the minimum height, the minimum height will be applied. */
  max-width: 100rem; 
}

main > ul {
  padding-left: 3rem;
  padding-top: 1rem;
}

main > h2, h3, h4, h5, h6 {
  padding-top: 1rem;
}

p {
  padding-top: 1rem;
}

img,
picture {
  max-width: 100%;
  display: block;
}

a {
  color: #6A89FE;
  text-decoration: none;
}

/* FOOTER */
footer {
  display: flex; /* Displays an element as a block-level flex container */
  justify-content: center; /* Aligns the flex items horizontally */
  align-items: center; /* Aligns the flex items vertically */
  height: 4.5rem; /* Sets the height of an element. Does not include padding, borders, or margins. */
  width: 100%; /* Sets the width of an element. Does not include padding, borders, or margins. */
  background-color: #151322;
  padding-right: 1rem;
  padding-left: 1rem;
  color: #8F94A6;
}

.pagination {
  display: flex;
  justify-content: space-between; /* aligns the flexible container's items horizontaly */
  padding: 1rem 0;
} 

.blog-list p {
  padding-top: 0rem;
}

/* 2 column layout */
.container {
  display: flex;
  flex-direction: row;
}

.sidebar {
  min-width: 250px;
  background-color: #151322;
  padding-left: 3rem; 
  padding-top: 3rem;
}

.content {
  flex-grow: 1;
  overflow: hidden;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 2rem;
}

/* two column layout used for some notes with images */
.double {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.left {
 flex: 50%;
 align-self: center;
 text-align: center;
 padding: 3rem;
 
}

.right {
 flex: 50%;
}

.right strong {
  color: #7b7a7a;
} 

.left strong {
  color: #7b7a7a;
} 

/* Styles to hide the sidebar on small screens and revert on larger screens */
.sidebar {
  display: block; /* default display */
  
}

.stickymenu {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 7.5rem; 
}

/* Base styles */


.menu-area {
  display: none; /* Initially hidden */
  overflow-y: auto; /* Allows vertical scrolling */
}


/* Hide the actual checkbox */
.menu-toggle {
  display: none;
}

.navigation {
  display: flex; /* Displays an element as a block-level flex container */
  align-items: center; /* Aligns the flex items vertically */
  height: 4.5rem; /* Sets the height of an element. Does not include padding, borders, or margins. */
  width: 100%; /* Sets the width of an element. Does not include padding, borders, or margins. */
  background-color: #050e2f;
  padding-right: 1rem;
  padding-left: 2rem;
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;  
  justify-content: flex-end;
}

.navitem a {       /* CSS Selector - selects all <a> elements where the parent is a <nav> element */
  display: block;     /* Displays an element as a block element. It starts on a new line, and takes up the whole width. */
  color: #8F94A6;
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 1rem;
}

.navitem a:hover {      
  color: #FDFDFE;
}

.sitename {
  margin-right: auto;
  font-size: 2rem;
  font-weight: bold;
}

.sitename a {
  color: white;
}

.hamburger-menu {
  display: none;
  cursor: pointer;
  
}

/* responsive layout */
@media (max-width: 800px) {
  
  main {
    min-width: 100%;
    padding-left: 0rem;
  }
  .double {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }

  .sitename {
    display: none;
  }

  .content {
    padding: 1.5rem;
  }

  .hamburger-menu {
    display: block; /* Show the hamburger icon */
    margin-right: auto; /* Pushes everything else to the right */
    /* position: fixed; */
    font-size: 3rem;
    /* top: 0; */ 
    z-index: 2;
  }
  
  /* Display the menu when the hidden checkbox is checked */
  .menu-toggle:checked + .hamburger-menu + .menu-area {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #151322; /* Adjust color/transparency as needed */
    z-index: 1;
    padding-top: 6rem;
    padding-left: 6rem;
  }
 
}



/* SIDEBAR */
/* CREDITS: https://www.mikeaparicio.com/posts/2022-08-19-nested-navigation-in-eleventy/ */
:where([role="list"]) {
  list-style: none;
  padding-inline-start: 0;
}

.nav-list {
  background-color: #151322;
  color: #8F94A6;
  user-select: none;
}

.nav-list a {
  color: inherit;
  text-decoration: none;
  display: block;             /* the link takes up the full width of the list, giving it a larger clickable surface */
}

.nav-list summary {
  cursor: pointer;
  display: block;            /* removes native arrow on the left for <detail> in all browsers except for safari */
}

.nav-list summary::-webkit-details-marker {
  display: none;             /* removes native arrow on the left for <detail> in safari */
}

.nav-list a,
.nav-list summary {             
  padding-block: 0.35rem;                   /* link and summary elements get some vertical padding */
  transition: color .1s ease-in-out;        /* link and summary elements get - subtle transition on the color when it changes on hover */
}

.nav-list a:hover,
.nav-list a[aria-current="page"],
.nav-list summary:hover,
.nav-list .is-active summary {
  color: #FDFDFE;                         /* increasing the contrast on a link or summary if it's hovered over or if it's the current page */
}

.nav-list details > [role="list"] {
  padding-inline-start: 1.3rem;            /* adding some padding to indent the text for lists inside of a details element */
}

