{% set navPages = collections["all_" + lang ] | eleventyNavigation %}

{% macro renderNavListItem(entry) %}
  {% if entry.children.length %}
    <h6><li
        {%- for child in entry.children %}
          {% if child.parent == entry.title and child.url == page.url %}
            class="is-active"
          {% endif %}
        {% endfor %}
      >
        <input type="checkbox" id={{ entry.title }}>
        <label for={{ entry.title }}>{{ entry.title }}</label>
        <ul role="list">
          {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
        </ul>
    </li></h6>
  {% else %}
    <h6><li>
      <a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page" {% endif %}>{{ entry.title }}</a>
    </li></h6>
  {%- endif -%}
{%- endmacro %}

<ul class="sidebarnav" role="list">
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>
